.fieldset_desk_style{
	text-align: center;
	display: none;
}
.div_desk_style {
	margin: 0 auto;

	
}
.table_desk_style {
	margin: 0 auto;
	
}
.div_deskIcon_style {
	

	cursor: pointer;
	margin: 0 auto;
	
}
.div_deskIcon_style:hover {
	
	margin: 0 auto;
	outline: 2px solid #4B4B4B;
}
#table_desk .td_style {
	border: 2px solid black;
	width: 100px;
	height: 100px;
	-webkit-box-sizing: 3px;
	margin: 0 auto;
	
	
}
.div_player-info_style {
	top:78px;
	left: -80px;
	height: 100px;
	width: 80px;
	position: fixed;
	background: #8A8A8A;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border: 3px solid white;
}
