.div_desk_style {
	margin: 0 auto;
	
	
	background: #6D7378;
	
}
.table_desk_style {
	margin: 0 auto;
	display:none;
	background: #6D7378;
}
.div_deskIcon_style {
	
	background: #6D7378;
	cursor: pointer;
	margin: 0 auto;
	
}
.div_deskIcon_style:hover {
	
	margin: 0 auto;
	background: #6D7378;
	outline: 2px solid #4B4B4B;
}
#table_desk .td_style {
	border: 1px solid black;
	width: 100px;
	height: 100px;
	-webkit-box-sizing: border-box;
	margin: 0 auto;
}
.div_player-info_style {
	top:78px;
	left: -80px;
	height: 100px;
	width: 80px;
	position: fixed;
	background: #8A8A8A;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border: 3px solid white;
}
